a:focus,
a:hover,
a:link,
a:visited
a:active {
  text-decoration: none !important;
}
/*removes the underline from the links*/

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip{
    background-color: #007faa;
  } 

a.skip:active, 
a.skip:focus {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    color: white;   
}
/*hides the skip nav link and changes background and font color when focused*/

.highlight:focus {
    background-color: #007faa;
    color:white;
}
/*highlights any buttons or links when focused or hovered*/

.amplify:focus {
    font-size: 1em;
    margin: 0;
    text-align: center;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
    font-size:2em;
}
/*amplifies any font that is focused or hovered*/

.box {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .box:hover .image {
    opacity: 0.3;
  }
  
  .box:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #007faa;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /*when mouse hovers over picture it provides a description after fading out the image hovered to resource page*/

  i.text-primary{
    color: #007faa !important;
}
/*changes color of the "i" images of bootstrap*/
